<a id="telerik-logo" href="http://www.telerik.com/">Built by Telerik</a>

<div id="footer">
	<p>
		Copyright 2002-@DateTime.Now.Year  &copy; Telerik. All rights reserved<br />
		Telerik Inc,
		<span class="adr">
		    <span class="street-address">460 Totten Pond Rd</span>,
		    <span class="extended-address">Suite 640</span>,
		    <span class="locality">Waltham</span>,
		    <span class="region">MA</span>
		    <span class="postal-code">02451</span>
		</span><br />
		<a href="http://www.telerik.com/">www.telerik.com</a> |
		<a href="http://www.telerik.com/home/terms-of-use.aspx">Terms of Use</a> |
		<a href="http://www.telerik.com/corporate/contact-us.aspx">Contact Us</a>
	</p>
</div>
